<div class="input-group">
    <label class="label-textarea">
        {{ label | translate }} <span [hidden]="!required" >*</span>
    </label>

    <textarea class="custom-textarea"
      [ngStyle]="{'height': height}"
      [(ngModel)]="entry"
      (ngModelChange)="entryChanged.emit(entry)"
      [ngClass]="entry ? 'filled' : ''"
      [maxlength]="maxLength !== 'no-limit' ? maxLength : ''"
      [disabled]="readonly">
    </textarea>

    <span class="text-max" *ngIf="!entry && maxLength !== 'no-limit'">
      {{ 'maximo' | translate }} {{ maxLength }} {{ 'caracteres' | translate }}
    </span>
</div>
