.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
}

.box-container {
  position: relative;
}

.small { flex: 0 0 33.33%; }
.medium { flex: 0 0 66.666%; }
.large { flex: 0 0 100%; }
