.eye-position {
  float: right;
  margin-right: 1.875rem;
  margin-top: -1.563rem;
}


.bar-code-position {
  float: right;
  margin-top: -1.9rem;
  margin-right: 0.5rem;
  background-color: var(--color-white);
  position: relative;
}

.copy {
  background-color: transparent;
}

