<div class="margin-modal">
  <div class="clearfix">
    <button class="clickable close-modal" (click)="close()">
      <img src="../../../../../../assets/icons/close.svg" />
    </button>
  </div>

  <div class="content-modal">
    <div class="mb-3">
      <p class="title-modal">
        {{ "observacao" | translate }}
      </p>
    </div>

    <div class="row pb-1 mb-2">
      <div class="col-6">
        <label class="radio radio-circle custom-text">
          {{ 'encontrado' | translate }}
          <input type="radio" [(ngModel)]="dadoVolume.encontrado" [value]="true"/>
          <div class="radio-input clickable"></div>
        </label>
      </div>

      <div class="col-6">
        <label class="radio radio-circle custom-text">
          {{ 'perdido' | translate }}
          <input type="radio" [(ngModel)]="dadoVolume.encontrado" [value]="false"/>
          <div class="radio-input clickable"></div>
        </label>
      </div>
    </div>

    <div class="col-12 ps-0">
      <app-input
        label="observacao"
        placeholder="Lorem Ipsum">
      </app-input>
    </div>

    <div class="d-flex justify-content-end mt-4">
      <button class="btn-confirm btn-transparent-cancel" (click)="close()">
        {{ "cancelar" | translate }}
      </button>
      <button class="btn-confirm green" (click)="close()">
        {{ "concluir" | translate }}
      </button>
    </div>
  </div>
</div>
