.section-btns-confirm {
  margin-left: auto;
}

.text-modal {
  line-height: 1.25rem;
}


app-input {
  width: 45%;
}

hr {
  margin-top: 0px;
  margin-bottom: 8px;

  border-color: var(--color-grey-200);
}

.text-small {
  font-size: 14px;
}
