<div class="margin-modal">
  <div class="clearfix">
    <button class="clickable close-modal" (click)="close()">
      <img src="../../../../../../assets/icons/close.svg" />
    </button>
  </div>

  <div class="content-modal">
    <p class="title-modal">{{'desativarUsuario' | translate}}</p>
    <p class="text-modal ">
      {{'textoConfirmarDesativar' | translate}}
    </p>

    <div class="section-btns-confirm">
      <button class="btn-confirm btn-transparent-cancel" (click)="close()">
        {{ 'cancelar' | translate }}
      </button>
      <button class="btn-confirm" (click)="confirm()">
        {{ 'simDesativar'| translate }}
      </button>
    </div>
  </div>
</div>
