<ng-container *ngIf="permissions.includes(authReceivable.Visualizar)">
  <div class="margin-listing">
    <div class="section-segmented-buttons">
      <app-segmented-button text="emAberto"
        [num]="opened.total"
        [value]="opened.value"
        [clicked]="opened.selected"
        (selected)="selectedTotal(indicatorsEnum.EmAberto, $event)">
      </app-segmented-button>
      <app-segmented-button text="vencendoHoje"
        [num]="maturityToday.total"
        [value]="maturityToday.value"
        [clicked]="maturityToday.selected"
        (selected)="selectedTotal(indicatorsEnum.VencendoHoje, $event)">
      </app-segmented-button>
      <app-segmented-button text="vencidas"
        [num]="overdue.total"
        [value]="overdue.value"
        [clicked]="overdue.selected"
        (selected)="selectedTotal(indicatorsEnum.Vencidas, $event)">
      </app-segmented-button>
      <app-segmented-button text="baixadas"
        [num]="lowered.total"
        [value]="lowered.value"
        [clicked]="lowered.selected"
        (selected)="selectedTotal(indicatorsEnum.Baixadas, $event)">
      </app-segmented-button>
    </div>

    <div class="grid-section">
      <div class="flex-row">
        <div class="filters-custom-grid">
          <app-filter-columns [columns]="columnsFilter"
            [filtersSearch]="configFilterColumnSelected"
            (sendRequest)="setFilterColumn($event)">
          </app-filter-columns>
        </div>

        <div class="date-filter-grid flex-row">
          <div class="dropdown-filter-date-grid">
            <app-dropdown-default label="filtrarPor"
              [options]="filterDate"
              [shortListed]="filterDateSelected !== null ? filterDateEnum[filterDateSelected] : null"
              (optionChanged)="filterDateSelected = $event; periodFilter.finalDate ? getReceivables() : ''">
            </app-dropdown-default>
          </div>

          <div class="input-period-grid">
            <app-period-two-dates [periodFilter]="periodFilter"
              (periodEmitter)="setFilterDate($event)">
            </app-period-two-dates>
          </div>
        </div>
      </div>

      <div class="flex-row">
        <div class="search-and-add flex-row">
          <div class="search-section tooltip-content me-3">
            <app-input-search placeholder="pesquisaRapida"
              [entry]="search"
              (entryChanged)="doSearch($event)"
              (lostFocus)="doSearch($event, true)">
            </app-input-search>
            <div class="tooltip-default tooltip-break">{{ 'tooltipPesquisaListaContasAReceber' | translate }}</div>
          </div>

          <div class="add-section">
            <app-btn-confirm-action iconUrl="../../../../../assets/icons/add.svg"
              height="2.1875rem"
              (clicked)="goToNewReceivable($event)"
              tooltip="incluirNovaFatura">
            </app-btn-confirm-action>
          </div>

          <div class="clear-filter-grid">
            <span class="text-clear-filter-grid clickable" (click)="clearFilters()">
              {{ 'limparFiltros' | translate }}
            </span>
          </div>
        </div>

        <div class="icons-actions">
          <div class="float-right flex-row">
            <ng-container *ngIf="cdReceivablesSelected.length >= 1">
              <button id="view-more" class="icon-button-primary tooltip-content">
                <img src="../../../../../assets/icons/share.svg">
                <span class="tooltip-default">{{ 'compartilhar' | translate }}</span>
                <div class="box-actions">
                  <p class="title-share-grid">{{ 'compartilhar' | translate }}</p>
                  <div class="flex-row mb-2" (click)="openModalSendEmailAdvanced()">
                    <img src="../../../../../assets/icons/email.svg">
                    <p class="text-box-actions text-share-grid ps-2">
                      {{ 'emailIndividual' | translate }}
                    </p>
                  </div>
                  <div class="flex-row" (click)="openModalConfirm('send-whatsapp')">
                    <img src="../../../../../assets/icons/whatsapp.svg">
                    <p class="text-box-actions text-share-grid ps-2" >
                      {{ 'whatsapp' | translate }}
                    </p>
                  </div>
                </div>
              </button>
              <button class="icon-button-primary tooltip-content" (click)="downloadPDFReport()">
                <img src="../../../../../assets/icons/export-pdf.svg">
                <span class="tooltip-default">{{ 'gerarPDF' | translate }}</span>
              </button>
              <button class="icon-button-primary tooltip-content" (click)="openModalConfirm('print-receivable')">
                <img src="../../../../../assets/icons/print.svg">
                <span class="tooltip-default">{{ 'imprimir' | translate }}</span>
              </button>
              <ng-container *ngIf="verifyToDelete()">
                <button class="icon-button-primary tooltip-content" (click)="openModalConfirm('delete')">
                  <img src="../../../../../assets/icons/delete.svg" >
                  <span class="tooltip-default">{{ 'excluir' | translate }}</span>
                </button>
              </ng-container>
              <button id="view-more" class="icon-button-primary tooltip-content" *ngIf="showViewMore()">
                <img src="../../../../../assets/icons/view-more.svg">
                <span class="tooltip-default">{{ 'acoes' | translate }}</span>
                <div class="box-actions">
                  <ng-container *ngIf="permissions.includes(authReceivable.Baixar)">
                    <p class="text-box-actions"
                      *ngIf="verifyReceivableDecrease()"
                      (click)="openModalDecreaseBill()">
                      {{ 'baixar' | translate }}
                    </p>
                  </ng-container>
                  <ng-container *ngIf="permissions.includes(authReceivable.Estornar)">
                    <p class="text-box-actions"
                      *ngIf="verifyReceivableReverse()"
                      (click)="openModalReverseBill()">
                      {{ 'estornar' | translate }}
                    </p>
                  </ng-container>
                  <ng-container *ngIf="verifyToCancel()">
                    <p class="text-box-actions" (click)="openModalCancel()">
                      {{ 'cancelar' | translate }}
                    </p>
                  </ng-container>
                  <p class="text-box-actions"
                    *ngIf="cdReceivablesSelected.length === 1"
                    (click)="openModalHistoricChanges()">
                    {{ 'historicoDeAlteracoes' | translate }}
                  </p>
                  <p class="text-box-actions"
                    *ngIf="cdReceivablesSelected.length === 1"
                    (click)="openModalSendToBank()">
                    {{ 'enviarParaBanco' | translate }}
                  </p>
                </div>
              </button>
            </ng-container>

            <ng-container *ngIf="cdReceivablesSelected.length === 0">
              <button class="icon-button-primary tooltip-content" (click)="openModalUploadFiles()">
                <img src="../../../../../assets/icons/upload-file.svg">
                <span class="tooltip-default">{{ 'uploadDocumentos' | translate }}</span>
              </button>
            </ng-container>

            <button id="view-more" class="icon-button-primary tooltip-content">
              <img src="../../../../../assets/icons/take-eye.svg">
              <span class="tooltip-default">{{ 'itensPorPagina' | translate }}</span>
              <div class="box-take justify-content-center">
                <p *ngFor="let option of optionsTake" class="values-box-take mt-1 mb-1"
                  [ngClass]="option === take ? 'value-box-take-selected' : ''"
                  (click)="changeTake(option)">
                  {{ option }}
                </p>
              </div>
            </button>
            <button #refresh class="icon-button-primary refresh tooltip-content"
              (click)="refreshGrid(); refresh.blur()"
              [style.transform]="'rotate(' + btnRotate + 'deg)'">
              <img class="icon-action clickable" src="../../../../../assets/icons/refresh.svg">
              <span class="tooltip-edge" *ngIf="!hideTooltip">{{ 'atualizarGrid' | translate }}</span>
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="receivables.length > 0">
        <app-table-dinamic-grid  idGrid="list-receivables"
          [columnsHeader]="columns"
          [columnsHide]="columnsHide"
          [dataset]="receivables"
          (columnsChanges)="columnsChanges($event)"
          (rowsSelected)="rowsSelected($event)"
          (rowClicked)="goToEdit($event)"
          [totalItems]="totalLenght"
          [itemsPerPage]="take"
          [currentPage]="page"
          (pageEmitter)="pageChange($event)">
        </app-table-dinamic-grid>
      </div>

    </div>
  </div>
</ng-container>

<div *ngIf="loading"
  class="spinner-border"
  role="status">
</div>

<app-snackbar *ngIf="snackbar.open"
  [snackbar]="snackbar"
  (hide)="snackbar.open = $event">
</app-snackbar>
