.grid-gm-selection-nf {
  margin-top: 12px;
}

.actions-gm-selection-nf {
  z-index: 2;
  height: 35px;
}

.search-gm-selection-nf {
  width: 34.875rem;
  z-index: 2;
}

.icons-buttons-gm-selection-nf {
  width: 100%;
}
