app-segmented-button {
  width: 25%;
}

.search-and-add {
  width: 50%;
}

.title-share-grid {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.00625rem;
}

.table-grid{
  justify-content: center;
  align-items: center;
  }

  .float-right {
    margin-right: -0.60rem;
  }


