.btn-cancel {
  height: 2.5rem;
  width: 100%;

  color: var(--color-grey-700-text);
  font-weight: 500;
  font-size: 0.875rem;

  background-color: transparent;
  border: none;
  border-radius: 5px;
}
