.input-group {
  position: relative;
}

input {

  font-size: 0.875rem;
  color: var(--color-grey-700-text);

  border: solid 1px var(--color-grey-200);
  border-radius: 5px !important;
  background: none;

  width: 100%;
  height: 2.188rem;
  padding-left: 0.938rem;
}

input::placeholder {
  color: var(--color-grey-500-text)
}

label {
  font-size: 0.75rem;
  color: var(--color-grey-700-text);

  position: absolute;
  left: 1rem;
  bottom: 1.688rem;
  padding: 0 4px;
  pointer-events: none;
  background-color: var(--color-white);
}

input:focus {
  outline: none;
  border-color: var(--color-green-500-mark);
}

.required {
  border: solid 1px var(--color-red);
}

.filled {
  border: solid 1px var(--color-grey-300-lines);
}

.color-red {
  color: var(--color-red);
}

.required-message {
  font-size: 0.625rem;
  font-weight: 500;
  color: var(--color-red);

  text-align: left;
  margin-top: 0.125rem;
  margin-bottom: 0rem;
  user-select: none;
}

.hidden-text {
  color: transparent;
}

.absolute {
  position: absolute;
}


