.header-filters-advanced-search {
  width: 98%;
  z-index: 100;
}

.search-driver {
  width: 365px;
}

.adavanced-filter-driver {
  width: 620px;
}

.section-actions-advanced-driver {
  padding: 0;
  width: 112px;
  height: 35px;
}

.icon-button-primary {
  transition: none;
}

.margin-advanced-table-driver {
  margin-top: -44px;
}
