.segmented-button {
  // width: calc(100% - 0.70rem);
  // margin: 0rem 0.35rem 0rem 0.35rem;
  height: 4.375rem;
  background: var(--color-white);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  transition: all 0.3s ease-out;
  border: 1px solid var(--color-grey-100);
}

.text-segmented-button {
  margin-top: 5px;
  height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-grey-700-text);
}

.number-segmented-button {
  height: 34px;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--color-green-800);
}

.segmented-button:hover:not(.selected) {
  border-color: var(--color-grey-200);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.selected {
  box-shadow: 0px 4px 10px 0px rgba(38, 50, 56, 0.25);
  border-color: var(--color-green-500-mark);
  background-color: var(--color-green-50);
}

.sub-number-segmented-button {
  display: inline-flex;
  padding: 0rem 0.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 6.25rem;
  background: rgba(236, 239, 241, 0.50);

  color: var(--color-grey-700-text);

  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.content-with-value {
  min-height: 5.625rem;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.segmented-button-with-value {
  p {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

.tooltip-icon {
  height: .875rem;
  width: .875rem;
  margin-top: -4px;
}

.info-icon {
  height: 1.25rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  position: relative;
}