.preview-area {
  border: 1px solid #455A64;
  border-radius: 0.232rem;
  height: 37.5rem;
  display: flex;
  position: relative;
}

.custom-height-content {
  margin: 0px;
  height: 37rem;
}

.custom-height-inside-content-actions {
  height: 26rem;
}

.section-btns-confirm {
  margin-left: auto;
}
