.input-group {
  position: relative;

  .tooltip {
    position: absolute;
    max-width: 22.125rem;
    margin-top: 24px;
    padding: 1rem;
    background: var(--color-white);
    border: solid 1px var(--color-grey-200);
    border-radius: 5px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: 0s;

    color: var(--color-grey-700-text);
    font-family: "Roboto";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    pointer-events: none;
  }

  &:hover .tooltip {
    z-index: 99;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
  }

  .tooltip::after {
    // content: '';
    // position: absolute;
    // top: -7px;
    // left: 10%;
    // width: 0px;
    // height: 0px;
    // border-left: 9px solid transparent;
    // border-right: 9px solid transparent;
    // border-bottom: 9px solid white;
  }
}

input {
  font-size: 0.875rem;
  color: var(--color-grey-700-text);

  border: solid 1px var(--color-grey-200);
  border-radius: 5px !important;
  background-color: var(--color-white);

  width: 100%;
  height: 2.188rem;
  padding-left: 0.938rem;
}

input::placeholder {
  color: var(--color-grey-500-text)
}

label {
  font-size: 0.75rem;
  color: var(--color-grey-700-text);

  position: absolute;
  left: 1rem;
  bottom: 1.688rem;
  padding: 0 4px;
  pointer-events: none;
  background-color: var(--color-white);
}

input:focus {
  outline: none;
  border-color: var(--color-green-500-mark);
}

.filled {
  border: solid 1px var(--color-grey-300-lines);
}

.icon-search {
  background-color: var(--color-white);
  position: absolute;
  right: 0;
  top: 0.313rem;
  margin-right: 0.81rem;
}

