<div class="mb-4">
  <app-input label="senha"
                        placeholder="senha"
                        [required]="true"
                        (entryChanged)="login.senha = $event"
                        type="password"
                        [changed]="forceRequired">
  </app-input>

  <ul>
    <li><p class="password-rule-text">{{ 'regraTrocaDeSenha' | translate }}</p></li>
  </ul>
</div>
<div>
  <app-input label="confirmSenha"
                        placeholder="confirmNovaSenha"
                        [required]="true"
                        (entryChanged)="confirmNewPass = $event"
                        type="password"
                        [changed]="forceRequired">
  </app-input>
</div>


<div class="mt-3">
  <app-btn-confirm-action label="acessar" (clicked)="changePassword($event)">
  </app-btn-confirm-action>
</div>

<app-snackbar *ngIf="snackbar.open"
  [snackbar]="snackbar"
  (hide)="snackbar.open = $event">
</app-snackbar>


