:root {
  --color-black: #000000;
  --color-white: #FFFFFF;

  // ActiveTrans
  --color-green-50: #F0F8EB;
  --color-green-100: #D9EECD;
  --color-green-500-mark: #84C55E;
  --color-green-700: #63A04B;
  --color-green-800: #528C41;
  --color-green-900: #336A30;

  // Neutros
  --color-grey-10: #F4F6F9;
  --color-grey-50: #ECEFF1;
  --color-grey-100: #CFD8DC;
  --color-grey-200: #B0BEC5;
  --color-grey-300-lines: #90A4AE;
  --color-grey-500-text: #607D8B;
  --color-grey-700-text: #455A64;
  --color-grey-900-titles: #263238;

  // Semantics
  --color-red: #E12021;
  --color-red-hover: #F32D26;
  --color-red-active: #D41518;
  --color-orange: #FCAE19;
  --color-green: #7AB52D;
  --color-red-50: #FFEBED;
  --color-red-100: #FFCCD0;
  --color-red-900: #C60006;
}
