.box-selection-column {
  margin-top: -150px;
}

.section-btns-confirm {
  margin-top: 0.25rem;
}

.section-two-radio {
  height: 65%;
  display: grid;
  align-items: center;
}

.type-string {
  height: 11.25rem;
  padding-top: 0.75rem;
}

.type-boolean {
  height: 8.5rem;
}

.type-picklist {
  height: 10.5rem;
}

.type-number {
  height: 7.8rem;
}
