<div class="margin-modal">
  <div class="clearfix">
    <button class="clickable close-modal" (click)="close()">
      <img src="../../../../../../assets/icons/close.svg" />
    </button>
  </div>

  <div class="content-modal">
    <p class="title-modal">{{ "resultadoDaPesquisa" | translate }}</p>

    <div class="col-8 mb-2 mt-2" style="position: relative; z-index: 2;">
      <app-input-search label="pesquisarUsuario"
        placeholder="pesquisarUsuarioPlaceholder"
        (entryChanged)="searchUser($event)">
      </app-input-search>
    </div>

    <div class="mb-4" *ngIf="users.length >= 1">
      <app-table-simple-grid
        idGrid="modal-search-permission-users"
        [columnsHeader]="columns"
        [columnsHide]="columnsHide"
        [dataset]="users"
        (checkboxSelected)="getDataSelected($event)"
        (confirmSelected)="confirmSelected()"
        [enableCheckbox]="true"
        [enableMenu]="false"
        [forceHeightGrid]="customHeight"
        [fitColumns]="true">
      </app-table-simple-grid>
    </div>

    <div class="section-btns-confirm">
      <app-btn-confirm-action label="selecionar" (clicked)="confirmSelected()">
      </app-btn-confirm-action>
    </div>
  </div>
</div>

<app-snackbar *ngIf="snackbar.open"
  [snackbar]="snackbar"
  (hide)="snackbar.open = $event">
</app-snackbar>

<div *ngIf="loading" class="spinner-border" role="status">
</div>

