<div class="margin-modal">
  <div class="clearfix">
    <button class="clickable close-modal" (click)="close()">
      <img src="../../../../../../assets/icons/close.svg">
    </button>
  </div>

  <div class="content-modal">

    

    <div class="modal-body">
      <p class="title-modal mb-3">Nota não está disponível</p>

      <p>Como deseja importar a Nota Fiscal?</p>
      <div class="radio-group">
        
        <label>
          <input type="radio" name="importOption" value="xml" />
          Inserir XML

        </label>
        <label>
          <input type="radio" name="importOption" value="preNote"  />
          Continuar com uma pré nota
        </label>
      </div>
    </div>

  <div class="d-flex justify-beteeen spacexx">
    <button _ngcontent-ng-c3508769769="" class="button-secondary button-fill button-me me-2">Cancelar</button>
    <button _ngcontent-ng-c1646056470="" class="button-primary button-fill button-me d-flex align-items-center"><img _ngcontent-ng-c1646056470="" src="../../../../../assets/icons/checked.svg"> Salvar </button>
  </div>
</div>

<div *ngIf="loading"
  class="spinner-border"
  role="status">
</div>

<app-snackbar *ngIf="snackbar.open"
  [snackbar]="snackbar"
  (hide)="snackbar.open = $event">
</app-snackbar>
